*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial,  sans-serif;
    line-height: 1.6;
    background-color: rgb(172, 228, 206);
    color: rgb(42, 63, 11);
}
.cabecalho{
    background-color: rgb(9, 161, 29);
    color: rgb(1, 10, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 5px;

}
.cabecalho-marca{
    display: flex;
    align-items: center;
    gap: 12px;
}
.cabecalho-imagem{
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}
.cabecalho-subtitulo{
    font-size: 14px;
    color: rgb(4, 13, 36);
    
}
.cabecalho-lista{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
.cabecalho-lista-item{
    display: block;
}
.cabecalho a{
    color: rgb(14, 56, 16);
 font-family: Calibri, sans-serif;
 font-size: 2opx;
 text-decoration: none;

 display: flex;
 align-items: center;
 justify-content: center;
 gap: 6px;
 padding: 6px 8px;
 border-radius: 4px;
}
.img{
    width: 20px;
}